{{ template  "header" . }}
<h1>Craftables</h1>

<!-- Form to update smelters and crafters -->
<form action="/updateCrafters" method="post">
    <label for="smelters">Smelters:</label>
    <input type="number" id="smelters" name="smelters" min="0" value="{{.GameData.Smelters}}" class="small-input">
    <label for="crafters">Crafters:</label>
    <input type="number" id="crafters" name="crafters" min="0" value="{{.GameData.Crafters}}" class="small-input">
    <button type="submit">Update</button>
</form>

<h2>Alloys</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Profit per Second</th>
            <th>Smelters</th>
            <th>Crafters</th>
            <th>Craft Time</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
        {{range .CraftingData}}
        {{if eq .Type "Alloy"}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{formatNumber .ProfitInS}}</td>
            <td>{{.Smelters}}</td>
            <td>{{.Crafters}}</td>
            <td>{{formatTime .CraftTime}}</td>
            <td>{{formatTime .TotalTime}}</td>
        </tr>
        {{end}}
        {{end}}
    </tbody>
</table>

<h2>Items</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Profit per Second</th>
            <th>Smelters</th>
            <th>Crafters</th>
            <th>Craft Time</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
        {{range .CraftingData}}
        {{if eq .Type "Item"}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{formatNumber .ProfitInS}}</td>
            <td>{{.Smelters}}</td>
            <td>{{.Crafters}}</td>
            <td>{{formatTime .CraftTime}}</td>
            <td>{{formatTime .TotalTime}}</td>
        </tr>
        {{end}}
        {{end}}
    </tbody>
</table>
</body>
</html>