{{ template  "header" . }}
  <h1>Market</h1>
  <div class="container">
    <div class="table-container">
      <form action="/updateCraftableMarket" method="post">
        <select name="CraftableName">
          {{range .Ores}}
          <option value="{{.Name}}">{{.Name}}</option>
          {{end}}
        </select>
        <input type="number" name="stars" min="0" value="0">
        <select name="marketTrend">
          <option value="0.33">0.33</option>
          <option value="0.5">0.5</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button type="submit">Update Ore Market</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base Value</th>
            <th class="small-column">Stars</th>
            <th class="small-column">Market Trend</th>
            <th>Sell Value</th>
          </tr>
        </thead>
        <tbody>
          {{range .Ores}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{formatNumber .Value}}</td>
            <td class="small-column">{{.Stars}}</td>
            <td class="small-column">{{.MarketTrend}}</td>
            <td>{{formatNumber .SellValue}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    <div class="table-container">
      <form action="/updateCraftableMarket" method="post">
        <select name="CraftableName">
          {{range .Alloys}}
          <option value="{{.Name}}">{{.Name}}</option>
          {{end}}
        </select>
        <input type="number" name="stars" min="0" value="0">
        <select name="marketTrend">
          <option value="0.33">0.33</option>
          <option value="0.5">0.5</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button type="submit">Update Alloy Market</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base Value</th>
            <th>Base Build</th>
            <th class="small-column">Stars</th>
            <th class="small-column">Market Trend</th>
            <th>Sell Value</th>
            <th>Current Build</th>
          </tr>
        </thead>
        <tbody>
          {{range .Alloys}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{formatNumber .Value}}</td>
            <td>{{.BaseTime}}</td>
            <td class="small-column">{{.Stars}}</td>
            <td class="small-column">{{.MarketTrend}}</td>
            <td>{{formatNumber .SellValue}}</td>
            <td>{{.CurrentTime}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    <div class="table-container">
      <form action="/updateCraftableMarket" method="post">
        <select name="CraftableName">
          {{range .Items}}
          <option value="{{.Name}}">{{.Name}}</option>
          {{end}}
        </select>
        <input type="number" name="stars" min="0" value="0">
        <select name="marketTrend">
          <option value="0.33">0.33</option>
          <option value="0.5">0.5</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button type="submit">Update Ore Market</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base Value</th>
            <th>Base Build</th>
            <th class="small-column">Stars</th>
            <th class="small-column">Market Trend</th>
            <th>Sell Value</th>
            <th>Current Build</th>
          </tr>
        </thead>
        <tbody>
          {{range .Items}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{formatNumber .Value}}</td>
            <td>{{.BaseTime}}</td>
            <td class="small-column">{{.Stars}}</td>
            <td class="small-column">{{.MarketTrend}}</td>
            <td>{{formatNumber .SellValue}}</td>
            <td>{{.CurrentTime}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>