{{ template  "header" . }}
    <h1>Projects</h1>
    <div class="table-container">
    <form action="/updateProjects" method="post">
        <table>
            <tr>
                <th>Project</th>
                <th class="level-column">Level</th>
            </tr>
            <tr>
                <td>Telescope</td>
                <td><input type="number" name="TelescopeLevel" value="{{.TelescopeLevel}}"></td>
            </tr>
            <tr>
                <td>Mining</td>
                <td><input type="number" name="MiningLevel" value="{{.MiningLevel}}"></td>
            </tr>
            <tr>
                <td>Ship Speed</td>
                <td><input type="number" name="ShipSpeedLevel" value="{{.ShipSpeedLevel}}"></td>
            </tr>
            <tr>
                <td>Ship Cargo</td>
                <td><input type="number" name="ShipCargoLevel" value="{{.ShipCargoLevel}}"></td>
            </tr>
            <tr>
                <td>Beacon</td>
                <td><input type="number" name="Beacon" value="{{.Beacon}}"></td>
            </tr>
            <tr>
                <td>Tax Level</td>
                <td><input type="number" name="TaxLevel" value="{{.TaxLevel}}"></td>
            </tr>
            <tr>
                <td>Smelt Speed</td>
                <td><input type="number" name="SmeltSpeed" value="{{.SmeltSpeed}}"></td>
            </tr>
            <tr>
                <td>Smelt Efficiency</td>
                <td><input type="number" name="SmeltEff" value="{{.SmeltEff}}"></td>
            </tr>
            <tr>
                <td>Alloy Value</td>
                <td><input type="number" name="AlloyValue" value="{{.AlloyValue}}"></td>
            </tr>
            <tr></tr>
                <td>Smelt Specialist</td>
                <td><input type="number" name="SmeltSpec" value="{{.SmeltSpec}}"></td>
            </tr>
            <tr>
                <td>Craft Speed</td>
                <td><input type="number" name="CraftSpeed" value="{{.CraftSpeed}}"></td>
            </tr>
            <tr>
                <td>Craft Efficiency</td>
                <td><input type="number" name="CraftEff" value="{{.CraftEff}}"></td>
            </tr>
            <tr>
                <td>Item Value</td>
                <td><input type="number" name="ItemValue" value="{{.ItemValue}}"></td>
            </tr>
            <tr></tr>
                <td>Craft Specialist</td>
                <td><input type="number" name="CraftSpec" value="{{.CraftSpec}}"></td>
            </tr>
            <tr>
                <td>Preferred Vendor</td>
                <td><input type="number" name="PrefVendor" value="{{.PrefVendor}}"></td>
            </tr>
            <tr>
                <td>Ore Targeting</td>
                <td><input type="number" name="OreTargeting" value="{{.OreTargeting}}"></td>
            </tr>
            <tr>
                <td>Manager Training</td>
                <td><input type="number" name="ManTraining" value="{{.ManTraining}}"></td>
            </tr>
            <tr>
                <td>Manager Secondary Training</td>
                <td><input type="number" name="ManSTraing" value="{{.ManSTraing}}"></td>
            </tr>
            <tr>
                <td>Leader Training</td>
                <td><input type="number" name="LeaderTraining" value="{{.LeaderTraining}}"></td>
            </tr>
        </table>
        <button type="submit">Update Projects</button>
    </form>
</div>
</body>
</html>