{{ template  "header" . }}
  <h1>Ships</h1>
  <div class="table-container">
  <form action="/update-ships" method="post">
    <table>
      <tr>
        <th>Ship</th>
        <th class="level-column">Enabled</th>
      </tr>
      <tr>
        <td>AdShip</td>
        <td><input type="checkbox" name="AdShip" {{if .AdShip}}checked{{end}}></td>
      </tr>
      <tr>
        <td>Daugtership</td>
        <td><input type="checkbox" name="Daugtership" {{if .Daugtership}}checked{{end}}></td>
      </tr>
      <tr>
        <td>Eldership</td>
        <td><input type="checkbox" name="Eldership" {{if .Eldership}}checked{{end}}></td>
      </tr>
      <tr>
        <td>Aurora</td>
        <td><input type="checkbox" name="Aurora" {{if .Aurora}}checked{{end}}></td>
      </tr>
      <tr>
        <td>Enigma</td>
        <td><input type="checkbox" name="Enigma" {{if .Enigma}}checked{{end}}></td>
      </tr>
      <tr>
        <td>Exodus</td>
        <td><input type="checkbox" name="Exodus" {{if .Exodus}}checked{{end}}></td>
      </tr>
      <tr>
        <td>Merchant</td>
        <td><input type="checkbox" name="Merchant" {{if .Merchant}}checked{{end}}></td>
      </tr>
      <tr>
        <td>Thunderhorse</td>
        <td><input type="checkbox" name="Thunderhorse" {{if .Thunderhorse}}checked{{end}}></td>
      </tr>
    </table>
    <button type="submit">Update Ships</button>
  </form>
</div>
</body>
</html>